@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700);
body {
    background: #e8eaf6;
    font-family: ubuntu, sans;
    font-size: 10pt;
    height:97vh;
}
.container {
    margin-left: 5%;
    margin-right: 5%;
    overflow: auto;
    padding: 5px;
	background: white;
    height:100%;
}
h1 {
    text-align: center;
    background: #1a237e;
    color: white;
    padding: 7px;
    margin: 6px 0px 8px;
}
h2 {
    margin: 0px;
    text-decoration: underline #dd2c00;
}
table {
    margin-top:10px;
    margin-bottom:10px;
    margin-left:auto;
    margin-right:auto;
    border-collapse: collapse;
}
th, td {
   border-bottom: 1px solid #d5d5d5;
   font-size:12pt;
   text-align:center;
   max-width:350px;
}
th {
   padding:13px;
   font-size:15pt;
   background: #1a237e;
   color: white;
}
.online {
    background-color: #aac4f3;
}
.online:hover {
    background-color: #9ab4e3;
}
td {
   padding:7px;
   word-wrap: break-word;
}
tr:hover {
    background-color: #fafafa
}
.note {
    font-size: 9pt;
    opacity: 0.7;
}
.helptopic {
    margin-left: 10px;
    opacity: 0.87;
}
.helptopic span {
    font-weight: bold;
}
.quotes {
    margin-left: 6px;
    overflow: auto;
}
.quotes p {
	margin: 1px 0px 4px;
	opacity: 0.87;
}
.analyzer {
	overflow: auto;
}
.analyzer li {
	margin: 1px 0px 4px;
	font-size: 9pt;
	opacity: 0.87;
}
.popup {
    padding: 8px;
    margin: 4px;
    max-width: 20%;
    background: #e8eaf6;
}