body {
    background: #D7D7D7;
    font-family: 'Segoe UI', 'Segoe', 'Liberation Sans', 'Arial', sans-serif;
    font-size: 11pt;
    line-height: 1.4;
}
.container {
    margin: auto;
    overflow: auto;
	background: #FDFDFD;
    height:100%;
    padding: 0px 0px 10px 0px;
    max-width: 1300px;
}
h1 {
    text-align: center;
    background: #5253D2;
    color: white;
    padding: 7px;
    margin: 0px 0px 20px;
}
h2 {
    margin: 0px 36px 0px;
    padding: 2px;
    text-decoration: underline #5253D2;
}
h3 {
    margin: 0px 40px 0px;
    padding: 10px;
}
li {
    font-weight: normal;
    padding-top: 3px;
    margin: 2px 45px;
}
a {
    color: #5253D2;
    font-weight: bold;
    text-decoration: underline #586A8B;
}
a:hover {
    color: #3E3BD8;
}
a:visited {
    color: #5253D2;
}
table {
    margin: 10px 0px;
    width: 100%;
    border-collapse: collapse;
}
th, td {
   border-bottom: 1px solid #d5d5d5;
   font-size:12pt;
   text-align:center;
   max-width:350px;
}
th {
   padding:13px;
   font-size:15pt;
   background: #5253D2;
   color: white;
}
.online {
    background-color: #C3D7FC;
}
.online:hover {
    background-color: #ADC9FC;
}
td {
   padding:7px;
   word-wrap: break-word;
}
tr:hover {
    background-color: #fafafa
}
.note {
    font-size: 9pt;
    opacity: 0.7;
    margin-left: 60px;
}
.editors {
    font-size: 11pt;
    opacity: 0.8;
    margin-left: 60px;
}
.helptopic {
    margin-left: 45px;
    opacity: 0.87;
}
.helptopic span {
    font-weight: bold;
}
.body {
    margin:15px 60px;
}
.quote {
    padding: 5px 8px;
    line-height: 1.5;
}
.input {
    padding-bottom: 10px;
    max-width: 50%;
    width: 100%;
}
.disabledinput {
    padding-bottom: 10px;
    max-width: 50%;
    width: 100%;
    border: none;
    background: inherit;
    color: inherit;
}
.analyzer {
    margin-bottom: 10px;
	overflow: auto;
}
.analyzer li {
	margin: 1px 30px 4px;
	font-size: 9pt;
	opacity: 0.87;
}
.analyzer p {
    margin: 0px 40px;
}
.popup {
    font-size: 12pt;
    padding: 7px 15px;
    margin: 4px 60px;
    display: inline-block;
    background: #C3D7FC;
    text-decoration: underline #5253D2;
    border-radius: 10px;
}
button {
    margin: 20px;
}