<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8"><link rel="stylesheet" type="text/css" href="../style.css">
        <title>{{name}} list - Kid A</title>
        <script src="/scripts/cloners.js"></script>
    </head>
    
    <body>
        <div class="container">
			{{#if editors}}
				<p class="note">Editors: {{editors}}</p>
			{{/if}}
            {{#if_eq name "scammers"}}
                <p class="note"><strong>Before trading, make sure to check the <a href="https://docs.google.com/spreadsheets/d/1aj7bIySJI1JwCD8KHeBOlZnG4Hg27KI12H8RiNynsmY">Gen 6 hacked Pokémon list</a> and the <a href="
https://docs.google.com/spreadsheets/d/16o6k4wphh4x1JMXrETHotlYTq1BwyyaEch8O96HsBMQ ">Gen 7 hacked Pokémon list</a>.</strong></p>
            {{/if_eq}}
            {{#if_eq name "trainers"}}
                <p class="note"><strong>If you wish to become an approved EV trainer, please read <a href="https://docs.google.com/document/d/1eKzzvcZ1zWZXU_GyFhhBUT2wj4dMaiJOCnn669VR83U">this document</a> before applying.</strong></p>
            {{/if_eq}}
            {{#unless tokenData}}
                <div class="popup"><input type="checkbox" onclick="toggleFilter(this)">Only show online {{name}}.</div>
            {{/unless}}
            
			<table>
                <tr class="header">
                    {{#each columnNames}}
                        <th>{{this}}</th>
                    {{/each}}
                </tr>
                {{#each entries}}
                    {{#if ../tokenData}}
                        {{#if_id data.username ../tokenData.user}}
                            <tr id="{{@index}}" class="online">
                        {{else}}
                            <tr id="{{@index}}">
                        {{/if_id}}
                    {{else}}
                        {{#if online}}
                            <tr id="{{@index}}" class="online">
                        {{else}}
                            <tr id="{{@index}}">
                        {{/if}}
                    {{/if}}
                    
                    {{#each data}}
                        <td>
                            {{#if_eq @key "date"}}
                                {{#if ../../tokenData.permission}}
                                    <input type="text" name="{{@key}}" class="disabledinput" value="{{parse_date this}}" onclick="edit(this)" onkeyup="markEdited(this, {{@../index}})"/>
                                {{else}}
                                    {{parse_date this}}
                                {{/if}}
                            {{else}}
                                {{#if_eq @key "username"}}
                                    {{this}}
                                {{else}}
                                    {{#if ../../tokenData}}
                                        {{#if ../../tokenData.permission}}
                                            <input type="text" name="{{@key}}" class="disabledinput" value="{{this}}" onclick="edit(this)" onkeyup="markEdited(this, {{@../index}})"/>
                                        {{else}}
                                            {{#if_id ../data.username ../../tokenData.user}}
                                                <input type="text" name="{{@key}}" class="disabledinput" value="{{this}}" onclick="edit(this)" onkeyup="markEdited(this, {{@../index}})"/>
                                            {{else}}
                                                {{this}}
                                            {{/if_id}}
                                        {{/if}}
                                    {{else}}
                                        {{this}}
                                    {{/if}}
                                {{/if_eq}}
                            {{/if_eq}}
                        </td>
                    {{/each}}

                    </tr>
                {{/each}}
			</table>

            {{#if tokenData}}
                    <div class="popup"><button onclick="submit()">Submit changes</button></div>
			{{/if}}
        </div>
    </body>
</html>