<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editing page - Kid A</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<div class="container">
    <div style="padding:30px">
		<form method="post">
			<h4>Title:</h4>
			<input type="text" name="title" size="50" value="{{title}}">
			<h4>Content:</h4>
			<textarea style="width:100%;" rows=40 name="content">{{content}}</textarea>
			<input type="submit" value="Submit changes"/>
		</form>
    </div>
</div>
</body>
</html>
