<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8"><link rel="stylesheet" type="text/css" href="../style.css">
        <title>Tour Point Scoreboard - Kid A</title>
    </head>
    
    <body>
        <div class="container">
            {{#if tourHelpers}}
                <h3><b>Tour Helpers:</b> {{tourHelpers}}</h3>
            {{/if}}
			<table>
                <tr class="header">
                    <th>Username</th><th>Points to Spend</th><th>Total Points Earned</th>
                </tr>
                {{#each data}}
                    <tr>
                    {{#each this}}
                        <td>
                            {{this}}
                        </td>
                    {{/each}}

                    </tr>
                {{/each}}
			</table>
        </div>
    </body>
</html>