<!DOCTYPE html>

<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="../style.css">
		<title>{{room}} - Kid A</title>
		<script src="/scripts/repeats.js"></script>
	</head>
	
	<body>
		<div class="container">
			{{#if data}}
				<h1>{{room}} repeats:</h1>
				{{#if permission}}
					<p class="note">Check repeats to mark them for removal.</p>
				{{/if}}
				<ul>
					{{#each data}}
						<li class="quote">
							<input type="checkbox" name="{{id}}" onclick="this.parentElement.style.background = (this.checked ? 'red' : 'white');">
							{{msg}} ({{times}} times left)
						</li>
					{{/each}}
				</ul>
				<div class="popup"><button onclick="submit()">Submit changes</button></div>
			{{else}}
				<h2>This room has no repeats.</h2>
			{{/if}}
		</div>
	</body>
</html>