<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8"><link rel="stylesheet" type="text/css" href="../style.css">
        <title>{{name}}'s trade sheet - Kid A</title>
        <script>
            //var userdata = {{userdata}};
            //var mons = {{mons}};

            function enterSpecies(element) {

            }
        </script>
    </head>
    
    <body>
        <div class="container">
			<table>
                <tr class="header">
                    <td>Species</td>
                    <td>Poké Ball</td>
                    <td>IVs</td>
                </tr>
                
                <tr>
                    <td>
                        <span onclick="enterSpecies(this)">Enter Species...</span>
                    </td>
                </tr>
			</table>
        </div>
    </body>
</html>