<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8"><link rel="stylesheet" type="text/css" href="../style.css">
        <title>
            TSV list - Kid A
        </title>
    </head>
    
    <body>
        <div class="container">
			<table>
                <tr class="header">
                    <th>Username</th><th>TSV(s)</th>
                </tr>
                {{#each this}}
                    <tr id="{{@index}}">
                    
                    {{#each this}}
                        <td>
                            {{this}}
                        </td>
                    {{/each}}

                    </tr>
                {{/each}}
			</table>
        </div>
    </body>
</html>